Data structures
-----------------------
>1. List
>2. Tuple
>3. Dictionaries
>4. Set

List
-------
- Lists are used to store the collection of multiple data. 
- Lists are mutable
- Lists are ordered
- Allows duplicate values
- Represented by brackets([])

In [1]:
k1 = []
type(k1)

list

In [2]:
k2 = [1,2,3,4.5,"string"]
k2[2]

3

In [3]:
k2.append(22)

In [4]:
k2

[1, 2, 3, 4.5, 'string', 22]

In [5]:
k1.append("list")
k1.append(1)
k1.append(78.9)

In [6]:
k1

['list', 1, 78.9]

In [7]:
k2.extend("a")

In [8]:
k2

[1, 2, 3, 4.5, 'string', 22, 'a']

In [9]:
k2.append(k1)
k2

[1, 2, 3, 4.5, 'string', 22, 'a', ['list', 1, 78.9]]

In [10]:
k2.extend(k1)
k2

[1, 2, 3, 4.5, 'string', 22, 'a', ['list', 1, 78.9], 'list', 1, 78.9]

In [11]:
k2.insert(6,567)

In [12]:
k2

[1, 2, 3, 4.5, 'string', 22, 567, 'a', ['list', 1, 78.9], 'list', 1, 78.9]

In [13]:
k2[8]

['list', 1, 78.9]

In [17]:
k2[8].append(125)

In [18]:
k2

[1, 2, 3, 4.5, 'string', 22, 567, 'a', ['list', 1, 78.9, 125], 'list', 1, 78.9]

In [19]:
k2[8].insert(1,345)
k2

[1,
 2,
 3,
 4.5,
 'string',
 22,
 567,
 'a',
 ['list', 345, 1, 78.9, 125],
 'list',
 1,
 78.9]

In [20]:
k = k1.copy()
k

['list', 345, 1, 78.9, 125]

In [21]:
k.append(76)

In [22]:
k

['list', 345, 1, 78.9, 125, 76]

In [24]:
k1.append("abc")
k1

['list', 345, 1, 78.9, 125, 'abc']

In [25]:
k

['list', 345, 1, 78.9, 125, 76]

In [26]:
a = k1

In [27]:
a

['list', 345, 1, 78.9, 125, 'abc']

In [28]:
a.insert(2,78.56)
a

['list', 345, 78.56, 1, 78.9, 125, 'abc']

In [29]:
k1

['list', 345, 78.56, 1, 78.9, 125, 'abc']

In [31]:
n1 = [1,2,3,4,1,2,4,2,4,2,1]
n1.count(2)

4

In [32]:
k1.index(1)

3

In [33]:
n1.index(1)

0

In [34]:
k1

['list', 345, 78.56, 1, 78.9, 125, 'abc']

In [35]:
k1.reverse()

In [36]:
k1

['abc', 125, 78.9, 1, 78.56, 345, 'list']

In [37]:
k1.remove(78.56)

In [38]:
k1

['abc', 125, 78.9, 1, 345, 'list']

In [39]:
k1.pop()
k1

['abc', 125, 78.9, 1, 345]

In [40]:
k1.pop(2)

78.9

In [41]:
k1

['abc', 125, 1, 345]

In [43]:
n1.clear()

In [75]:
del n1

In [76]:
n1

NameError: name 'n1' is not defined

In [45]:
s = [1,3455,9,67,10,23,465,2000]
s.sort()

In [46]:
s

[1, 9, 10, 23, 67, 465, 2000, 3455]

In [47]:
s1 = [1,298,5,13,98,100,5678,256]
s1.sort(reverse = True)
s1

[5678, 298, 256, 100, 98, 13, 5, 1]

In [48]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [49]:
k2

[1, 2, 3, 4.5, 'string', 22, 567, 'a', ['abc', 125, 1, 345], 'list', 1, 78.9]

In [50]:
k2.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [51]:
s1 = ["a","nj","k","b"]
s1.sort()

In [52]:
s1

['a', 'b', 'k', 'nj']

In [53]:
k2

[1, 2, 3, 4.5, 'string', 22, 567, 'a', ['abc', 125, 1, 345], 'list', 1, 78.9]

In [54]:
k2[-3:-4]

[]

In [57]:
k2[-5:-2]

['a', ['abc', 125, 1, 345], 'list']

In [59]:
k2[-4][-3]

125

In [60]:
list1 = input().split()
list1

1 2 3 abc 56 7

['1', '2', '3', 'abc', '56', '7']

In [62]:
li = input().split()
a = 0
for i in li:
    a = a + int(i)
print(a)

1 2 3 4 5 7 8
30

Tuple
---------
- tuples are similar to lists which is used to store the collection of multiple data
- Tuples are immuatable
- Tuples are ordered
- represened by paranthesis()

In [63]:
t = (1,2,3,"tuple",56.78)
t

(1, 2, 3, 'tuple', 56.78)

In [64]:
t1 = 2,4,5,6,7,8,9

In [65]:
type(t1)

tuple

In [66]:
t1

(2, 4, 5, 6, 7, 8, 9)

In [67]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [68]:
t1.count(4)

1

In [69]:
t1.index(7)

4

In [70]:
len(t)

5

In [71]:
t[2]

3

In [72]:
t[2:4]

(3, 'tuple')

In [73]:
li = list(t)
li

[1, 2, 3, 'tuple', 56.78]

In [74]:
t = tuple(li)
t

(1, 2, 3, 'tuple', 56.78)

>1. convert the tuple to string
Input: t = ("D","a","t","a"," ","A","n","a","l","y","s","i","s")
Output: Data Analysis
>2. l = "abc 234 njk897 23hj 1k"
Output: (234+897+23+1)
>3. to print unique list
Input: [1,2,3,4,1,2,3,4,3,2]
Output:[1,2,3,4]
>4. Parallel sum list
Input:
list1 = [10,20,30,40]
list2 = [50,60,70,80]
output:
[60,80,100,120]
>5. Read a list, seperate the even numbers to even list and odd numbers to odd list