In [1]:
k1 = [10,20,30,40]
k2 = [50,60,70,80]
k = []
if len(k1)==len(k2):
    for i in range(len(k1)):
        k.append(k1[i]+k2[i])
    print(k)
        
else:
    print("addition not possible")

[60, 80, 100, 120]

Dictionary
----------------
- collection of multiple data
- Unordered
- key:value (item) pairs are present and represented by braces{}
- keys are unique

In [2]:
d = {}
type(d)

dict

In [3]:
# d[key] = value
d[1] = "one"
d

{1: 'one'}

In [4]:
d["two"] = "numbers"
d[45] = 56.98
d

{1: 'one', 'two': 'numbers', 45: 56.98}

In [5]:
d[1] = 456

In [6]:
d

{1: 456, 'two': 'numbers', 45: 56.98}

In [7]:
d["two"]

'numbers'

In [8]:
d[56.9]="float"
d[23]=[1,2,3,4,5,"abc"]
d

{1: 456,
 'two': 'numbers',
 45: 56.98,
 56.9: 'float',
 23: [1, 2, 3, 4, 5, 'abc']}

In [10]:
print(d.items())

dict_items([(1, 456), ('two', 'numbers'), (45, 56.98), (56.9, 'float'), (23, [1, 2, 3, 4, 5, 'abc'])])

In [11]:
print(d.keys())

dict_keys([1, 'two', 45, 56.9, 23])

In [12]:
print(d.values())

dict_values([456, 'numbers', 56.98, 'float', [1, 2, 3, 4, 5, 'abc']])

In [13]:
d.update({34:89})

In [14]:
d

{1: 456,
 'two': 'numbers',
 45: 56.98,
 56.9: 'float',
 23: [1, 2, 3, 4, 5, 'abc'],
 34: 89}

In [15]:
d.update({56.9:"digits"})

In [16]:
d

{1: 456,
 'two': 'numbers',
 45: 56.98,
 56.9: 'digits',
 23: [1, 2, 3, 4, 5, 'abc'],
 34: 89}

In [17]:
d.get(1)

456

In [18]:
d.get("two")

'numbers'

In [19]:
d1 = d.copy()
d1

{1: 456,
 'two': 'numbers',
 45: 56.98,
 56.9: 'digits',
 23: [1, 2, 3, 4, 5, 'abc'],
 34: 89}

In [20]:
d.setdefault(22)

In [21]:
d

{1: 456,
 'two': 'numbers',
 45: 56.98,
 56.9: 'digits',
 23: [1, 2, 3, 4, 5, 'abc'],
 34: 89,
 22: None}

In [22]:
d.setdefault(34)

89

In [23]:
d.setdefault(11,7)

7

In [24]:
d

{1: 456,
 'two': 'numbers',
 45: 56.98,
 56.9: 'digits',
 23: [1, 2, 3, 4, 5, 'abc'],
 34: 89,
 22: None,
 11: 7}

In [25]:
h = {}
h.fromkeys(("a","b"),0)

{'a': 0, 'b': 0}

In [26]:
h.fromkeys("ab",0)

{'a': 0, 'b': 0}

In [27]:
h.clear()

In [28]:
h

{}

In [29]:
del h

In [30]:
h

NameError: name 'h' is not defined

In [31]:
d

{1: 456,
 'two': 'numbers',
 45: 56.98,
 56.9: 'digits',
 23: [1, 2, 3, 4, 5, 'abc'],
 34: 89,
 22: None,
 11: 7}

In [32]:
d.pop(1)

456

In [33]:
d

{'two': 'numbers',
 45: 56.98,
 56.9: 'digits',
 23: [1, 2, 3, 4, 5, 'abc'],
 34: 89,
 22: None,
 11: 7}

In [34]:
d.popitem()

(11, 7)

In [35]:
d

{'two': 'numbers',
 45: 56.98,
 56.9: 'digits',
 23: [1, 2, 3, 4, 5, 'abc'],
 34: 89,
 22: None}

In [36]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [37]:
k = {}
k.setdefault(1,2)

2

In [38]:
k.setdefault(1,67)

2

In [39]:
k

{1: 2}

In [40]:
d1 = {1:2,7:8,"a":89}
d2 = {"a":78,"b":"alphabet"}
d ={}
for i in d1,d2:
    d.update(i)
print(d)

{1: 2, 7: 8, 'a': 78, 'b': 'alphabet'}

In [42]:
n = int(input("enter no of students"))
k = {}
for i in range(n):
    name = input("enter name")
    rollno = input("enter rollno")
    branch = input("enter branch")
    k[rollno] = [name,branch]
print(k)

enter no of students3
enter nameabc
enter rollno111
enter branchcse
enter nameefg
enter rollno112
enter branchit
enter namejkl
enter rollno113
enter branchece
{'111': ['abc', 'cse'], '112': ['efg', 'it'], '113': ['jkl', 'ece']}

In [43]:
k

{'111': ['abc', 'cse'], '112': ['efg', 'it'], '113': ['jkl', 'ece']}

In [45]:
rollno = input("enter the rollno to be updated")
name = input("enter the name to be updated")
branch = input("enter the branch to be updated")
k.update({rollno:[name,branch]})
print(k)

enter the rollno to be updated112
enter the name to be updatedxyz
enter the branch to be updatedeee

In [46]:
k

{'111': ['abc', 'cse'], '112': ['xyz', 'eee'], '113': ['jkl', 'ece']}