# Python
## Python
### Python
#### Python
##### Python
###### Python

### Bold and Italic
- Data Analysis
- **Data Analysis**
- ***Data Analysis***
- * *Data Analysis*

#### Python Variables

In [4]:
x1=5

In [5]:
x1

5

In [6]:
_ = 3

In [7]:
_

3

In [10]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [16]:
x= 5 # int variable
y= "sana" # string variable
z= 0.5 # float variable

In [14]:
y

'sana'

In [15]:
z

0.5

In [17]:
x=str(5)
x

'5'

In [18]:
z=float(2)
z

2.0

In [22]:
z=int(6.9)
z

6

In [31]:
x=input("enter")

enter10

In [32]:
x

'10'

In [33]:
my_val = 2.5

In [34]:
my_val

2.5

#### Many values to multiple variables

In [35]:
x,y,z="welcome","to","python"

In [36]:
print(x)
print(y)
print(z)

welcome
to
python

In [39]:
x,y,z = input("enter values")

enter values123

In [40]:
x

'1'

In [41]:
y

'2'

In [42]:
z

'3'

#### one value to multiple variables

In [43]:
x = y = z = "sana"
print(x)
print(y)
print(z)

sana
sana
sana

In [44]:
fruits = ["apple","banana","mango"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
mango

In [47]:
fruits[2]

'mango'

In [59]:
s = "sudha"
print("my name is " + s)

my name is sudha

In [51]:
s1 = "sudha"
s2 = "sana"
s1+s2

'sudhasana'

In [52]:
x1=10
x2=12
x1+x2

22

In [54]:
y1=str(3)
y2="sdc"
print(y1+y2)

3sdc

### Global Variables

In [55]:
x = "apssdc"
def myfunc():
    print("python in " + x)
myfunc()

python in apssdc

In [57]:
x="python"
def func():
    x = "sdc"
    print(x)
func()
print(x)

sdc
python