### Operators in python
- 1. Arithmetic operators

In [8]:
# addition
x=3
y=12
z=x+y
print(z)

15

In [9]:
# subtraction
z=x-y
print(z)

-9

In [10]:
# multiplication
3*5

15

In [11]:
# division
10/2

5.0

In [12]:
10//2

5

In [13]:
10%2

0

In [14]:
3**2

9

In [15]:
2**3

8

In [18]:
2**8

256

##### Assignment operators

In [23]:
x = 2
y = 3
x += 3
x = x+3
x

8

In [ ]:
=
+=
-=
*=
/=
//=
%=
**=

#### Comparision operators

In [24]:
2==3

False

In [25]:
5==5

True

In [26]:
2 != 3

True

In [27]:
3!=3

False

In [28]:
5>10

False

In [29]:
5<10

True

In [30]:
4 >= 4

True

In [31]:
3 <= 7

True

#### Logical operators

In [32]:
# and
2<5 and 2<10

True

In [33]:
# or
2<5 or 2<4

True

In [34]:
# not
not(2<5 or 2<4)

False

#### Identity operators

In [36]:
x=2
y=3
x is y

False

In [37]:
x is not y

True

#### Membership

In [40]:
x = "sudha"
's' in x

True

In [42]:
'd' not in x

False

In [ ]:
And(&)
OR(|)
XOR(^)
NOT(~)
left shift(<<)
right shift(>>)

In [43]:
        8 4 2 1 0 0 0 0 
3<<2  # 0 0 1 1          
      # 0 1 1
      # 1 1

12

In [44]:
3>>2

0

#### Python Expression

In [50]:
x=2
y=3
z=4
exp = x-z+y//x%z*x**y/x
exp

2.0

### conditional statements

In [51]:
a=20
b=30
if b>a:
    print("b is big")

b is big

In [52]:
a=10
b=10
if b>a:
    print("b is graterthan a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [54]:
a=100
b=10
if b>a:
    print("b is grater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is grater than b")

a is grater than b

In [64]:
# write a program to find a largest number given 3 values
a=int(input("enter value"))
b=int(input("enter value"))
c=int(input("enter value"))
if a>b and a>c:
    print("a id largest")
elif b>a and b>c:
    print("b is largest")
else:
    print("c is largest")

enter value40
enter value10
enter value50
c is largest

In [63]:
# nested if
x = 21
if x > 10:
    print("above ten")
    if x > 20:
        print("and also above20!")
    else:
        print("but not above 20.")

above ten
and also above20!