String
---------
- group of characters
- represented by single quotes or double quotes

In [1]:
s = "Data Analysis"
var1 = "Python Programming"
s[0]

'D'

In [2]:
len(s)

13

In [ ]:
# forward indexing -- 0 to n-1
# backward indexing -- -1 to -(n-1)

In [4]:
s[2:8]

'ta Ana'

In [8]:
s[-6:-12:-1] 
# D a t a   A n a l y s i s
#   -11-10-9 -8-7-6-5-4-3-2-1
# 0 1 2 3
#

'anA at'

In [7]:
s[-11:-5]

'ta Ana'

In [12]:
var1 = "Python Programming"
var1[0:10:3]

'Ph o'

In [13]:
var1[::-1]

'gnimmargorP nohtyP'

In [16]:
var1[:]

'Python Programming'

In [19]:
var1 = "online training"
var2 = "Data Analysis"
var1[:7] + var2 + var1[6:]

'online Data Analysis training'

In [20]:
var1.capitalize()

'Online training'

In [21]:
var1.title()

'Online Training'

In [22]:
var1.upper()

'ONLINE TRAINING'

In [23]:
v = "LOWER CASE CHARACTERS"
v.lower()

'lower case characters'

In [25]:
v.split('R')

['LOWE', ' CASE CHA', 'ACTE', 'S']

In [26]:
v

'LOWER CASE CHARACTERS'

In [27]:
var1

'online training'

In [28]:
r = "this is a replace method"
r.replace("method","method in string")

'this is a replace method in string'

In [31]:
k1 = ["a","bc","alphabet"]
s = "-"
s.join(k1) # "$".join(k1)

'a-bc-alphabet'

In [32]:
print("this {} session has {} participants".format("Data Analysis",100))

this Data Analysis session has 100 participants

In [38]:
v1 = "thisisastringwithalphabet"
v2 = "0876435"
v3 = "combinationof20stringsand10digits"
v1.isalpha()

True

In [35]:
v2.isdigit()

True

In [36]:
print(v3.isalpha())
print(v3.isdigit())

False
False

In [39]:
v3.isalnum()

True

In [40]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [41]:
s1 = "string"
s1.index('r')

2

In [42]:
s2 = "Python P Programming"
s2.index("P")

0

In [43]:
s2.rindex("P")

7

In [45]:
cf = "A meThOD in StrING"
cf.casefold()

'a method in string'

In [46]:
cf1 = "ANOTHER EXAMPLE"
cf1.casefold()

'another example'

In [47]:
cf.swapcase()

'a MEtHod IN sTRing'

In [48]:
cf1.swapcase()

'another example'

In [49]:
f = "banana"
f.center(20)

'       banana       '

In [50]:
f.center(20,"*")

'*******banana*******'

In [51]:
s = "this string starts with t"
s.startswith("this")

True

In [54]:
s.startswith("string",5,20)

True

In [55]:
f.zfill(10)

'0000banana'

In [56]:
s.zfill(10)

'this string starts with t'

In [60]:
for i in s:
    if i == "a":
        break
    else:
        print(i)

t
h
i
s

s
t
r
i
n
g

s
t

>1. 
input : "a12bc3de45"
output: 15 (1+2+3+4+5)
>2.
input:"ConTains All upper LOWER Digits 123334 and (&%@# special characters"
Output:
Upper case characters count:
Lower case characters count:
Special character:
digits count:
>3.
Input: "abc 123h 895jkl 12z"
output: (123+895+12)

In [61]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [62]:
s = " one to three"
s.replace("to","two")

' one two three'

In [63]:
s

' one to three'