### Set
### Packages and Modules

- Set is also a one of the data structures
- A set is a collection which is unordered and unindexed
- In python sets are written with curly brackets -- {}
- Which is collection of elements/data
    - Immutable in nature
        - we can't change the values once we assigned
- Advantage: set eliminate the duplicate data elements

In [25]:
s = {23,12,78,'nandini',34.78,56,22,22}
s

{12, 22, 23, 34.78, 56, 78, 'nandini'}

In [26]:
type(s)

set

In [27]:
s[3]

TypeError: 'set' object is not subscriptable

In [28]:
s

{12, 22, 23, 34.78, 56, 78, 'nandini'}

In [30]:
s = {12, 22, 23, 34.78, 56, 78}

In [35]:
## predefined functions

print(min(s))
print(max(s))
print(sum(s))
print(sorted(s))
print(len(s))

12
78
225.78
[12, 22, 23, 34.78, 56, 78]
6

In [40]:
print(dir(set),end=' ')

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [41]:
s

{4, 56}

In [42]:
s.add(65)

In [43]:
s

{4, 56, 65}

In [44]:
s.clear()

In [45]:
s

set()

In [46]:
s1 = {1,2,3,4}
s2 = s1.copy()

In [47]:
s2

{1, 2, 3, 4}

In [48]:
s2.add('abc')

In [49]:
s2

{1, 2, 3, 4, 'abc'}

In [50]:
s2.discard(4)

In [51]:
s2

{1, 2, 3, 'abc'}

- difference
    - removes the common elements in two sets
    - it returns the unique elements in first set
    - syntax
        - set1.defference(set2)

In [55]:
s1 = {10,1,5,3,9}
s2 = {1,10,4,7}
s3 = s1.difference(s2)
s4 = s2.difference(s1)
print(s3)
print(s4)
print(s1)
print(s2)

{9, 3, 5}
{4, 7}
{1, 3, 5, 9, 10}
{1, 10, 4, 7}

- difference_update
    - returns the new updated set after making the difference between two sets
    - change the original set
    - Syntax 
        - set1.difference_update(set2)

In [82]:
s3 = {1,2,3,4,5}
s4 = {1,2,78,45,32}

In [83]:
s3.difference_update(s4)
print(s3)

{3, 4, 5}

In [74]:
s4

{1, 2, 32, 45, 78}

In [84]:
s3

{3, 4, 5}

In [85]:
s4

{1, 2, 32, 45, 78}

In [86]:
s3 = {32,45,6,7}
s4.difference_update(s3)

In [87]:
print(s4)

{1, 2, 78}

In [89]:
d = {23,56,12,11}
e = {67,22,66,16,11}
d.union(e)

{11, 12, 16, 22, 23, 56, 66, 67}

In [90]:
s = {1,7,5,'y',8.9}
s.pop()

1

In [91]:
s

{5, 7, 8.9, 'y'}

In [92]:
s.pop()

5

In [93]:
s.discard('y')

In [94]:
s

{7, 8.9}

- intersection
    - return the common elements in sets
- interction_update
    - removes the elements in one set which are not present in other set
    - return the updated set

In [98]:
a = {12,34,67,12,67,89}
b = {12,56,78,89,33,77,67}
a.intersection(b)
print(a)
print(b)

{89, 34, 67, 12}
{33, 67, 12, 77, 78, 56, 89}

In [102]:
s1 = {1,2,4,8,9}
s2 = {3,5,7,8}
inter = s1.intersection(s2)
inter
# print(s1)

{8}

In [104]:
## changes the original set with common values
s = {2,4,6,8,10}
s_1 = {1,3,5,7,9,2}
s.intersection_update(s_1)
print(s)

{2}

- isdisjoint()
    - returns True if no items in set1 matches set2
    - else return False
- issubset()
    - returns True if all elements in set1 mathces set2
    - else return False
- issuperset()
    - returns True if all items in set1 matches set2
    - else return False

In [105]:
a = {1,2,3,4,5}
b = {6,7,8,9}
c = {1,2,3,4,5}
r1 = a.isdisjoint(b)
r2 = a.isdisjoint(c)
print(r1)
print(r2)

True
False

In [106]:
a = {1,2,3,4,5,7}
c = {1,2,3,4}
r3 = a.issubset(c)
r4 = c.issubset(a)
print(r3)
print(r4)

False
True

In [107]:
r5 = a.issuperset(c)
r6 = c.issuperset(a)
print(r5)
print(r6)

True
False

- symmetric difference
    - returns set which contain elements which are not same
- symmetric_difference_update
    - removes the common elements in both sets
    - inserts the items which are not present in both sets
    - changes the original

In [113]:
## common elements
a = {1,2,3,4,5,7}
c = {1,2,3,4}
d = a.symmetric_difference(c)
d

{5, 7}

In [114]:
a

{1, 2, 3, 4, 5, 7}

In [2]:
## no common elements
a = {1,2,3,'a','b'}
b = {5,6,'y','t'}
f = a.symmetric_difference(b)
print(f)
print(a)
print(b)

{1, 2, 3, 5, 6, 'y', 'b', 't', 'a'}
{1, 2, 3, 'b', 'a'}
{'t', 5, 6, 'y'}

In [110]:
c = {1,2,3,4}
d = {1,2,3,4}
t = c.symmetric_difference(d)
t

set()

In [3]:
a = {1,2,3,4,5,7}
c = {1,2,3,4}
a.symmetric_difference_update(c)

In [5]:
print(a)
print(c)

{5, 7}
{1, 2, 3, 4}

## Packages and Modules

    - Package
        - collection of python modules
    - Modules
        - group of python files or collection .py files
        - code that define functions,classes and variables
        - these functions can be accessed by using import